# Токен бота
BOT_TOKEN=твой_токен_здесь

# ID чата или пользователя (HR), куда бот будет присылать утренние сводки
HR_CHAT_ID=123456789

# Название файла с базой сотрудников (по умолчанию employees.xlsx)
EXCEL_PATH=employees.xlsx